@media (prefers-color-scheme: dark) {
    :root {
        --foreground-colour: #151515;
        --background-colour: #242424;
        --selection-colour: #065273;
        --link-colour-default: #2980b9;
        --link-colour-visited: #e6e6e6;
        --link-colour-active: #47f390;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;1,400;1,500;1,600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--link-colour-visited);
}

body {
    max-height: 100%;
    color: var(--foreground-colour);
    background: var(--background-colour);
    padding: 2em
}

::selection {
    background: var(--selection-colour)
}

h1{
    font-family: 'Roboto', monospace;
}
p{
    font-size: 18px;
    font-family: 'Roboto', monospace;
}

a {
    margin-right: 0.3em;
    color: var(--link-colour-default);
    text-decoration: none;
    font-size: 20px;
}

a:visited {
    color: var(--link-colour-visited)
}

a:active {
    color: var(--link-colour-active)
}

@media (max-width: 800px) {
    body {
        padding: 1em
    }

    h1 {
        font-size: 2.5em
    }

    h3 {
        font-size: 2em
    }
}