.all{
    -webkit-animation: fadein 0.3s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

li, a, button{
    font-family: 'Roboto', monospace;
    font-weight: 500;
    font-size: 16px ;
    color: #e4e5e6;
}

article, h2, p {
    padding-bottom: 0.5em;
}


header {
    display: flex;
    /* space-between: if you want to  */
    justify-content: flex-end; 
    align-items: center;
    padding: 30px 10%;
}

.info-box{
    margin: 20px 10%;
}

.logo{
    cursor: pointer;
    margin-right: auto;
}

/* here is how to do the heading styling  */
.nav-links{
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: orange
}

button {
    padding: 9px 25px;
    background-color: rgba(87, 87, 87, 0.103);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(87, 87, 87);
}

.loading_bar{
    background-color: orange;
    height: 6px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-animation: loading 1.2s ease-in-out 0s;
}

@keyframes loading{
    0% {
        width: 0;
        left: 0;
    }

    50% {
        width: calc(100% - 19px);
        left: 0;
    }

    100% {
        width: 0;
        left: calc(100% - 19px);
    }
}